page-login {
  .scroll-content {
    margin-top: 0 !important;
    background-color: #f9f9f9;
  }
  ion-header,
  .toolbar-background {
    //background-color: initial !important;
    background-color: rgba(255, 255, 255, 0.34) !important;

    &:after {
      height: 0 !important;
    }
  }

  ion-tabs {
    display: none;
  }

  .list .item-input:last-child {
    border-bottom: none;
  }

  hr {
    height: 2px;
    width: 95%;
  }

  .item-input ion-input,
  .item-input ion-textarea {
    border: solid 1px #dedede;
    border-radius: 5px;
    padding: 0 10px;
  }

  .item.item-input.input-has-focus.item-input-has-focus ion-input,
  .item.item-input.input-has-focus.item-input-has-focus ion-textarea {
    border: solid 1px rgb(35, 211, 0);
  }

  .item.item-input.input-has-focus.item-input-has-focus .label {
    color: rgb(7, 211, 0);
  }

  .item.item-input.item-input-has-focus .item-inner,
  .item.item-input.input-has-focus .item-inner {
    box-shadow: none;
    border-bottom: none;
  }

  .sociallogin .label {
    margin: 0;
  }

  .sociallogin .button {
    margin: 0;
    height: 80px;
  }

  .loginform {
    background-color: white;
    padding: 40px 5px 10px 5px;
    margin: 0 20px 0 20px;
    border-radius: 20px;
    text-align: center;
  }

  ion-title {
    text-align: center;
  }

  .logo_container {
    width: 100%;
    margin-top: 20%;
    text-align: center;
  }

  .logo1 {
    width: 80px;
    margin: auto;
  }

  button.loginbtn {
    border-radius: 10px;
  }

  .loginform .list {
    margin: 0;
  }

  .sociallogin .list {
    margin: 0;
  }

  .sociallogin .item {
    padding-left: 0;
  }

  .sociallogin .item.item-block .item-inner {
    padding-right: 0;
  }

  ion-footer {
    position: fixed;
  }

  .social_login_container {
    width: 100%;
    text-align: center;
  }
}
