page-request-quote {
    .top_description {
        width: 100%;
        text-align: center;
    }
    .top_description p {
        font-size: 1.6rem;
    }
    
    .section_title_container {
        width: 100%;
    }
    .heading3 {
        font-size: 1.6rem;
    }
    .scroll-content {
        background-color: #f9f9f9;
    }
}
